* {
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    max-width: 90%;
    margin: 40px auto;
}
  
  .imagen {
    width: 300px;
    height: auto;
  }
  
  .titulo {
    font-family: 'Tagesschrift', serif;
    font-size: 2.5em;
    margin: 0;
  }
  
  .autor {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 2.5em;
    margin-top: 5px;
  }

  .contenedor2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    max-width: 90%;
    margin: 40px auto;
}
  
  .imagen2 {
    width: 300px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
  }
  
  .texto21 {
    font-family: 'Tagesschrift', serif;
    font-size: 1em;
    text-align: justify;
    padding: 1em 0;
    letter-spacing: 0.04em;
    line-height: 1.15;
    text-indent: 3em;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
  }
  .texto22 {
    font-family: 'Tagesschrift', serif;
    font-size: 1em;
    text-align: justify;
    margin-left: 40px;
    padding: 1em 0;
    letter-spacing: 0.035em;
    line-height: 1.15;
    text-indent: 3em;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
  }